body {
	
}

.contentWrapper {
    overflow-x:hidden; 
}


#footer{
	position: absolute !important;
    bottom: 0;
    left: 0;
	background-color:  #e3e3e3;
	margin-top: 5%;
    height: 100px;
}

.footer-pad {
    padding: 60px;
}


h1, h2,.h1 .h2 {
    margin-top: 0px;
    font-family: 'Roboto Slab',serif;
    font-weight: bold;
    color:black;

}
p,.p {
    color: black;
    font-size: 15pt;
}

.ul-left
{
    list-style-type: none;
    color: black;
    font-size: 16pt;
    clear:left;



}
.ul-right
{
    list-style-type: none;
    color: black;
    font-size: 16pt;
    float: right;
}
.my-li
{
    border-style: solid;
    border-width: 2px;
    background-color: #AA1801;
    margin-bottom: 10px;
    margin-top: 10px;
}
ul {
    margin-left: 0; padding: 0;
 

}

ul li .title
{
margin-bottom: 10px;
}
.headerTitle
 {
     padding: 0px 8px;
     display: inline-block;
     position: relative;
     border-style: solid;
     border-color: transparent;
     border-width: 0px;
     background-color: #AA1801;
     text-transform: uppercase;
     margin-top: 15%;

 }

.my-label {

    padding: 0 0px;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #AA1801;
}

.title
{
    padding: 0px 8px;
    display: inline-block;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 0px;
    background-color: #AA1801;
    text-transform: uppercase;

}
.title::after
{
    content: " ";
    position: absolute;
    top: 0;
    right: -0.5em;
    border-left-width: 0.45em;
    border-left-color: #AA1801;
    border-left-style: solid;
    border-bottom: 0.5em solid transparent;

}
.value
{
    font-style: italic;
    margin-left: 5px;

}

@media(max-width: 768px) {
    .value {
        font-size: 0.8em;
    }
}

ul{
    list-style-type: none;
}
.active {
background-color: #AA1801; 
}

.crop {
height: 400px;	
overflow:hidden;
max-width: 350px;
margin: 0 auto;
}

.crop img {
height: auto;
width:350px;
overflow:hidden;
}

span.title{
    color:white;
}

.border-bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #eee;
    margin-bottom: 15%;

}

.ul-left{
    margin-bottom: 20px;
}
.box {
  clear:right;
}
.nav-button-left{
    border-left: 1px solid black;

}

.progress-bars{
}

.resume{
    clear:left;
    margin: 0 auto;
}

.content{
height: 200px;
width: 200px;
border: 2px solid orange;
display: none;
position: absolute;
right: 100px;
bottom: 200px;
}

#spacer{
    margin-bottom: 200px;
    background-color: black;
    padding: 50px;
}

.social {
    clear:right;
}

.clear-right{
    clear: right;
}

.clear-left{
    clear: left;
}

.center{
    margin: 0 auto;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

.resumeContainer {
    margin-bottom: 130px;
}


.hiddenResumeBtn {
    display: none;
}

@media(max-width: 768px) {
    .hiddenResumeBtn {
        display: block;
        width: none;
        clear: left;
        margin: 0 15px;
    }

    .resume {
        display: none;
    }
}
